<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="{{ static_url('semanticui/semantic.min.css') }}">
	<link rel="stylesheet" href="{{ static_url('admin/style.css') }}">
	<script type="text/javascript" src="{{ static_url('jquery-1.12.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('semanticui/semantic.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('admin/do.js') }}"></script>
</head>
<body>
<div id="top-nav" class="ui large top inverted fixed compact menu">
	<div class="header item">
		<i class="inverted user icon"></i>
		鑫云解码科技
	</div>
	<a href="" class="item active">Home</a>
	<a href="" class="item">Add</a>
</div>
<div id="side-nav" class="ui left fixed vertical inverted menu">
	<div class="item">Dashbord</div>
	<a href="" class="item">文章管理</a>
	<a href="" class="item">用户管理</a>
</div>
</body>
</html>